.header {
    position: fixed;
    top: 82px;
    left: 300px;
    right: 300px;

    width: auto;
    height: 200px;
    background-color: #1C1C1F;
    color: white;

    min-width: 1080px;
}

.body {
    position: fixed;
    top: 282px;
    left: 300px;
    right: 300px;

    width: auto;
    height: 100vh;
    background-color: #1C1C1F;
    color: white;

    border-top: 1px solid #00040D;

    min-width: 1080px;
}

.left {
    position: fixed;
    top: 82px;
    left: 0%;

    width: 300px;
    height: 100vh;
    background-color: #1e2025;
    color: white;
}

.right {
    position: fixed;
    top: 82px;
    right: 0%;

    width: 300px;
    height: 100vh;
    background-color: #1e2025;
    color: white;
}