.header {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 75px;
    background-color: red;
}

.body {
    position: fixed;
    top: 75px;
    left: 0px;

    width: 100vw;
    height: 100vh;
    background-color: blue;
}


.search {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 430px;

    width: 800px;
    height: 50px;
    background-color: yellow;
}

.logo {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 200px;

    width: 800px;
    height: 200px;
    background-color: green;
}

.left {
    position: fixed;
    left: 33%;
    transform: translate(-50%, 0);
    top: 600px;

    width: 350px;
    height: 350px;
    background-color: pink;
}

.right {
    position: fixed;
    left: 67%;
    transform: translate(-50%, 0);
    top: 600px;

    width: 350px;
    height: 350px;
    background-color: pink;
}

